.gen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2em;
  margin: 0;
}

header h1 {
  font-size: 3em;
}

header {
  text-align: center;
  margin-bottom: 2em;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
  margin: 3px;
}

.delete-button {
  background-color: #ba0000;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.cv-container {
  margin: 0em 2em 2em 2em;
  padding: 1em;
  width: 600px;
  word-wrap: break-word;
}

.form-container {
  flex-grow: 1;
}
.form-box {
  box-sizing: border-box;
  width: 400px;
  margin: auto;
}

.form-box label {
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.form-box input,
textarea {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin: 0.9vw 0;
  border-radius: 5px;
  font-size: 15px;
}

.form-box textarea {
  height: 15vh;
}

